/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;

    /* border: .5px solid black; */
}

:root{
    --purple-dark: 	#9F2B68;
    --purpla-light: #d84493;
    --black: #000;
}

body{
    width: 100%;
    height:fit-content;
}

.container{
 height: 100vh;
 width: 100%;
 max-width: 1500px; 
 margin: auto;
}

/************** nav bar ********************/
section[aria-label="navbar"]{
    /* position: absolute;
    top: 0;
    width: 100%; */
    padding: 40px 70px;
}
.navbar-container{
    display: flex;
    gap: 10px;
}

.brand-logo{
    flex-grow: 0;
    margin: auto;
}
.brand-logo img{
    width: 100px;
}


.grow-list{
    flex-grow: 3;
}
.grow-list .list{
    display: flex;
    margin-left: 10px;
    list-style-type: none;
    gap: 20px;
}
.list-item{
    padding: 20px 30px;
    font-size: 16px;
    color: var(--black);
    font-family: Poppins, sans-serif;
    font-weight: 600;
}
.list .list-item:not(:first-child) {
    color: rgb(128, 128, 128); 
}

.list .list-item:hover{
    color: var(--black);
}



.button-group{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-button{
    background-color: var(--purpla-light);
    padding: 15px 25px;
    border-radius: 10px;
    color: #fff;
    border: none;
}



/************** Banner ********************/
section[aria-label="banner"]{
    /* padding-top: 112px; */
}
.banner-container{
    display: flex;
    width: 100%;
}

/* left-side */
.heading-text{
    padding: 50px 30px 10px 40px;
    font-size: 62px;
    line-height: 1.2;
    font-family: Poppins, sans-serif;
}
.description{
    padding: 10px 30px 10px 40px;
}
.btn{
    padding: 20px 35px;
    margin-left: 40px;
    margin-top: 30px;
    font-size: 18px;
}
.banner-container div:first-child{
    width: 35%;
    padding: 10px 20px;
}
.banner-container div:last-child{
    width: 65%;
    display: flex;
    justify-content: end;
}
img[alt="illustration"] {
    width: 90%;
    height: auto;
 }